*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:gilroy;
}
html,body{
    height:100%;
    width:100%;
}
 #page1 video{
    height:100vh;
    width:100%;
    object-fit:cover;
    position:relative;
    opacity:1;
    
}
#main{
    position:relative;
    background-color:black;
}

#page1 h1 p {
    height:100vh;
    width:100%;
    position:relative;
    top:30vh;
    left:30%;
    color:white;
    opacity:;
    
}
#nav{
    
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
    gap:20px;
    
}
#page2{
    background-color:black;
    height:100vh;
    width:100%;
    
    
}

    
    #scroller{
        overflow-x: auto;
        overflow-y:hidden;
        white-space:nowrap;
    }
    #scroller::-webkit-scrollbar{
        display:none;
    }
    #scroller1{
        display:inline-block;
        white-space: nowrap;
        animation-name:scroll;
        animation-duration:10s;
        animation-timing-function:linear;
animation-iteration-count: infinite;
    }

    
    #scroller h4{
        display:inline-block;
        font-size:100px;
        font-weight:400;
        font-family:gilroy;
        margin-right:10px;
        color:transparent;
        -webkit-text-stroke:2px #95c11e;


    }
    @keyframes scroll{
        from{
        transform:translatex(0);
    
    }
    to{
        transform:translatex(-100%);
    }
}
.about-us{
    height:40vh;
    width:100%;
    display:flex;
    padding: 0 50px;
    align-items:center;
    justify-content: space-between;
}
.about-us img{
    height:300px;
    width:300px;
    border-radius:20px;
    object-fit:cover;
}
.about-us-in{
    color:white;
    width:50%;
    text-align:center;
}
#card-container{
    background-color: black;
    height:60vh;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    gap:70px;
}
.card{
    height:80%;
    width:22%;
    background-color:blue;
    border-radius:20px;

}
#card1{
    background-image:url(https://images.pexels.com/photos/1552102/pexels-photo-1552102.jpeg?auto=compress&cs=tinysrgb&w=600);

}
#card2{
    background-image:url(https://images.pexels.com/photos/136404/pexels-photo-136404.jpeg?auto=compress&cs=tinysrgb&w=600);
object-fit:cover;
}
#card3{
    background-image:url(https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=600);
object-fit:cover;
}
#f1 #f2 #f3 #f4{
    width:fit-content;
}
#footer{
    background-color:#95c11e;
    height:40vh;
    width:100%;
    padding:100px;
}


