*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 25px;
    margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

footer {
    width: 100%; /* Full width */
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
    padding: 20px 0; /* Padding for spacing */
}

.footer-links {
    margin-bottom: 10px; /* Space between links and icons */
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px; /* Space between links */
    transition: color 0.2s; /* Smooth transition */
}

.footer-links a:hover {
    color: rgb(100, 100, 255); /* Hover color */
}

.social-icons {
    margin-bottom: 10px; /* Space between icons and copyright text */
}

.social-icons a {
    color: white;
    margin: 0 10px; /* Space between icons */
    font-size: 24px; /* Icon size */
    transition: color 0.2s; /* Smooth transition */
}

.social-icons a:hover {
    color: rgb(100, 100, 255); /* Hover color */
}
